:80 {
	route /map/* {
		uri strip_prefix /map
		reverse_proxy https://api.mapbox.com {
			header_up Host {upstream_hostport}
		}
	}

	route {
		reverse_proxy /avatar/* https://www.gravatar.com {
			header_up Host {upstream_hostport}
		}

		reverse_proxy /geocode/* https://api.opencagedata.com {
			header_up Host {upstream_hostport}
		}

		root * /srv
		try_files {path} /index.html
		file_server
	}
}
