# Schema migrations
south

# For the admin documentation
docutils

# For the Imagefields
PIL

# For the API
#django-piston

# Async jobs
django-celery>=3.0.11

# Timezonefoo
pytz

# Gravatar
django-gravatar

# HTML minifying
django-htmlmin
