Django

# Schema migrations
south

# For the admin documentation
docutils

# For the Imagefields
PIL

# For the API
#django-piston

# Async jobs
django-celery>=3.0.11

# Timezonefoo
pytz==2013d

# Gravatar
django-gravatar2

# HTML minifying
django-htmlmin

# AJAX & API
djangorestframework

# Authentication
python-openid
django-allauth

# Caching
python-memcached
psycopg2
