body {
	background: url(../img/frontpage-bg-jumbotron.jpg) #F7F5FA no-repeat;
	background-size: auto 600px;
}

#top-block {
	background: none;
	padding-bottom: 7px;
	border-bottom: 1px solid #ddd;
}

#jumbotron {
	height: 550px;
	text-align: center;
}

#title {
	margin-top: 60px;
	text-align: center;
	font-size: 2.7em;
	font-weight: 200;
}


#front-mainsignup {
	display: block;
	margin-top: 100px;
	margin-bottom: 70px;
	text-align: center;
}

#front-mainsignup input, #front-mainsignup button {
	display: inline-block;
	height: 35px;
}

#front-mainsignup input {
	font-family: inherit;
	border: none;
	margin-right: 10px;
	width: 350px;
	background: rgba(238, 238, 238, 0.8);
	border-radius: 3px;
	border: 1px solid #888;
	color: #242424;
	font-weight: 700;
	font-size: 20px;
	padding-left: 10px;
}

#front-mainsignup input::-webkit-input-placeholder {
    color:    #777;
}
#front-mainsignup input:-moz-placeholder {
    color:    #777;
}
#front-mainsignup input::-moz-placeholder {
    color:    #777;
}
#front-mainsignup input:-ms-input-placeholder {
    color:    #777;
}

#front-mainsignup button {
	height: 41px;
	width: 150px;
	font-size: 18px;
	font-weight: 700;
}

#front-mainsignup i {
	color: #fff;
	font-size: 24px;
	margin-left: 6px;
}

#front-randompost {
	margin-top: 20px;
}
