
body {
	font-family: Exo, 'Exo', sans-serif;
	color: #515151;
	background: #F7F5FA;
	margin: 0;
	padding: 0;
	font-size: 18px;
	line-height: 1.7;
}

/* –––––––––––––––––––– */
/* General element defs */
/* –––––––––––––––––––– */

a, a:hover {
	color: #033649;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	margin: 0;
	margin-bottom: .3em;
	margin-top: 1.4em;
}

h1 {
	font-size: 3em;
}

.buttonpane {
	display: block;
	margin-top: 1em;
	margin-bottom: 4em;
}

.buttonpane > * {
	float: left;
}

.buttonpane button, .buttonpane input[type=button], .buttonpane input[type=submit] {
	float: right;
	margin: 0;
	margin-top: 5px;
}

.buttonpane > h2 {
	margin: 0;
}

/* Input elements & buttons */

input, select, button, textarea {
	display: block;
	margin: 0;
	margin-top: 1em;
	padding: 3px 4px;
	max-width: 100%;
}

input[type=text], input[type=password], input[type=email], textarea
{
	background-color: #FEFEFE;
	border: 1px solid #D4D4D4;
	border-top: 1px solid #A4A4A4;
	border-left: 1px solid #A4A4A4;
	width: 300px;
}

textarea {
	font-family: inherit;
	font-size: 17px;
	width: 500px;
	max-width: 100%;
	height: 200px;
	max-height: 100%;
	padding: 3px 4px;
}

input[type=submit], input[type=button], button {
	min-width: 50px;
	padding: 4px 10px;
	font-family: inherit;
	color: #222;
	font-weight: 600;
	font-size: 15px;

	text-shadow: 0 1px 0 white;
	border: 1px solid #D4D4D4;
	border-bottom-color: #BCBCBC;
	background-color: #EAEAEA;
	background-image: -moz-linear-gradient(#FAFAFA, #EAEAEA);
	background-image: -webkit-linear-gradient(#FAFAFA, #EAEAEA);
	background-image: linear-gradient(#FAFAFA, #EAEAEA);
	background-repeat: repeat-x;

	border-radius: 2px;
}

input[type=submit]:hover, input[type=button]:hover, button:hover {
	cursor: pointer;
	color: white;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	border-color: #518CC6;
	border-bottom-color: #2A65A0;
	background-color: #3072B3;
	background-image: -moz-linear-gradient(#599BDC, #3072B3);
	background-image: -webkit-linear-gradient(#599BDC, #3072B3);
	background-image: linear-gradient(#599BDC, #3072B3);
	background-repeat: repeat-x;
}

/* Tables */
table {
	width: 100%;
	background: inherit;
	font-size: .97em;
}

table tbody {
	margin: 10px;
}

table tr {
	border-bottom: 1px solid #d4d4d4;
	padding: 4px;
	background: inherit;
}

table tr td {
	border: none !important;
	background: inherit;
}

/* Tables with class='border' */
table.border {
	border: 1px solid #d4d4d4;
	border-radius: 2px;
}

table.border > tbody > tr > td {
	padding: .1em .5em;
}

/* Tables with class='alternate' */
table.alternate > tbody > tr:nth-child(even) {
	background: #f0f0f0;
}

select {
	width: 508px;
}

ul {
	list-style-type: square;
}

hr {
	height: 0;
	border: none;
	border-bottom: 1px solid #d4d4d4;
}

div[role=main] {
	margin: 0 auto;
	max-width: 940px;
	margin-top: 26px;
}

.right {
	float: right;
}

/* –––––––––––––––––––– */
/*        Top bar       */
/* –––––––––––––––––––– */

#top-block {
	margin: 0 auto;
	max-width: 940px;

	color: #ffffff;
	background-color: #036564;
	padding: 3px;
	height: 40px;
	border-bottom: 4px solid #CDB380;
}

#name {
	display: inline-block;
	font-size: 25px;
	margin: 0;
	font-weight: 700;
	margin-left: 20px;
	color: #ffffff;
	float: left;
	margin-right: 50px;
}

/* Navigation */

#navigation {
	margin-top: 6px;
	margin-right: 20px;
}

#navigation a {
	color: #ffffff;
	margin-right: 10px;
}

#navigation .user-avatar {
	margin-top: 2px;
	float: left;
	margin-right: 7px;
	border-radius: 2px;
}

#navigation .nav-icons {
	margin-left: 10px;
}

#navigation .nav-icons a {
	text-decoration: none;
}

#navigation .nav-icons a:hover {
	color: #CDB380;
}

#title {
	display: block;
	margin-bottom: 40px;
	margin-top: 0;
}

/* –––––––––––––––––––– */
/*        Footer        */
/* –––––––––––––––––––– */

#footer {
	margin-top: 80px;
	padding-top: 8px;
	padding-left: 10px;
	border-top: 1px solid #d4d4d4;
	font-size: .8em;
	color: #545454;
	min-height: 50px;
}

#languages {
	float: right;
}

/* –––––––––––––––––––– */
/*   Index (logged in)  */
/* –––––––––––––––––––– */

/* Post list */
.post-list {
	list-style-type: none;
	padding: 0;
}

.post-list .text-teaser
{
	color: #888;
}

.post-list > tbody {
	cursor: pointer;
}

.post-list a {
	text-decoration: none;
	color: inherit;
}

/* –––––––––––––––––––– */
/*   Single post view   */
/* –––––––––––––––––––– */

.post-image {
	max-width: 500px;
	max-height: 400px;
}

/* –––––––––––––––––––– */
/*    New post view     */
/* –––––––––––––––––––– */

#new-post-char-counter {
	display: block;
	width: 500px;
	text-align: right;
}