@forward 'element-plus/theme-chalk/src/common/var.scss' with (
	$colors: (
		'primary': (
			'base': #CDB380,
		),
	),

	$bg-color: (
		'': #F9F9F9,
	)
);

$bg-color: #F9F9F9;
@use "element-plus/theme-chalk/src/index.scss" as *;

@use "@fontsource/fira-sans/latin-300.css" as *;
@use "@fontsource/fira-sans/latin-400.css" as *;
@use "@fontsource/fira-sans/latin-600.css" as *;
@use "@fontsource/exo-2/latin-800.css" as *;
@use "../../node_modules/floating-vue/dist/style.css" as *;

html, body {
	width: 100%;
	height: 100%;
}

html {
	font-family: "Fira Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-size: 17px;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background: $bg-color;
}

*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
}

.brand {
	font-family: "Exo 2", "Fira Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-weight: 800;
	user-select: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
}

h1 {
	margin-bottom: 2rem;
}

h2 {
	margin-bottom: 1rem;
	font-weight: 300;
}

a, .el-button--text {
	&, &:hover {
		color: #036564;
		text-decoration: none;
	}

	&:hover {
		text-decoration: underline;
	}
}

p {
	margin: 1.5rem 0;
}

input, textarea {
	font-family: "Fira Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

#app, #default-layout-container {
	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: column;
}

.el-message {
	// Push message boxes below top header
	top: 65px !important;
}

.cool-lightbox {
	backdrop-filter: blur(6px);
}

.el-form--label-top .el-form-item__label {
	padding-bottom: 0;
}

.svg-inline--fa {
	margin-right: .2rem;
}
