{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{%block content %}
	<h2>{% trans 'Hosting &amp; Data security' %}</h2>
	<p>{% blocktrans %}All communication betweeten you and us is encrypted, if possible. All web pages under shortdiary.me automatically redirect to their SSL counterpart. We also use <a href='https://en.wikipedia.org/wiki/HTTP_Strict_Transport_Security'>HTTP Strict Transport Security (HSTS)</a> to make sure your browser always uses SSL when browsing shortdiary.me, so that even if somebody overtakes your local network, they won't be able to spoof shortdiary. <!--In Google Chrome, shortdiary.me is included in a hard-coded list of domains that are only to be accessed using SSL.-->All emails from us are sent using TLS encryption if your server supports it (Google Mail and most other large providers do).{% endblocktrans %}</p>

	<h2>{% trans 'Contact' %}</h2>
	<p>
		{% trans 'In case you have questions or complaints, you can always contact us via email:' %}<br />
		<i class="icon-envelope"></i> <a href="mailto:team@shortdiary.me">team@shortdiary.me</a>.
	</p>

	<h2>{% trans 'Imprint' %}</h2>
	<small>{% trans '(This is only relevant for german law, which requires every website to provide name and address of the responsible person).' %}</small>

	<p>Angaben gemäß § 5 TMG:</p>
	<p>fnordcordia GbR</p>
	<p>
		Gesellschafter:<br />
		Felix Arndt, Lukas Martini<br />&amp; Andreas Zimmermann<br />
	</p>
	<p>
		U4, 10<br />
		68161 Mannheim<br />
		{% trans 'Germany' %}
	</p>
{% endblock %}

