{% extends 'base.html' %}
{% load i18n %}

{%block content %}
	{% if form.errors %}
		<p>{% trans 'There were some errors :(. Please correct them and try again.' %}</p>
	{% endif %}

	{% if success %}
		<p><strong>{% trans 'Your changes have been saved!' %}</strong></p>
	{% endif %}

	<form action='' method='POST' enctype='multipart/form-data'>
		{% csrf_token %}
		<input type='email' name='email' maxlength='100' placeholder='email' value="{% if form.email.value %}{{ form.email.value }}{% else %}{{ user.email }}{% endif %}" required />
		<small>
			{% trans 'Status' %}: 
			{% if user.mail_verified %}
				{% trans 'Verified' %}. 
			{% else %}
				<span style="color: red;">{% trans 'Unverified' %}. </span>
			{% endif %}

			<p>{% trans "<strong>Caution:</strong> If you change your email address, you won't receive any mails until you've verified the new address, so be sure to do that quickly!" %}</p>
		</small>
		{{ form.email.errors }}

		<p>
			<label for='geolocation_enabled_check'>{% trans "Add location to posts" %}</label> <input type='checkbox' id='geolocation_enabled_check' name='geolocation_enabled' {% if form.geolocation_enabled.value or user.geolocation_enabled %}checked{% endif %} />
			{{ form.geolocation.errors }}
		</p>

		<p><a href='{% url "django.contrib.auth.views.password_change" %}'>Change my password</a></p>

		<button type='submit'>
				<i class='icon-share-alt'></i> {% trans "submit" %}
		</button>
	</form>
{% endblock %}
