{% extends 'base.html' %}
{% load i18n %}

{%block content %}
	{% if form.errors %}
		<p>{% trans 'There were some errors :(. Please correct them and try again.' %}</p>
	{% endif %}

	{% if success %}
		<p><strong>{% trans 'Your changes have been saved!' %}</strong></p>
	{% endif %}

	<form action='' method='POST' enctype='multipart/form-data'>
		{% csrf_token %}


		<table class='border alternate'>
			<tbody>
				<tr>
					<td>{% trans "Email address" %} {{ form.email.errors }}</td>
					<td><input type='email' name='email' maxlength='100' placeholder='email' value="{% if form.email.value %}{{ form.email.value }}{% else %}{{ user.email }}{% endif %}" required /></td>
				</tr>
				<tr>
					<td><label for='geolocation_enabled_check'>{% trans "Add location to posts" %}</label></td>
					<td><input type='checkbox' id='geolocation_enabled_check' name='geolocation_enabled' {% if form.geolocation_enabled.value or user.geolocation_enabled %}checked{% endif %} /></td>
				</tr>
			</tbody>
		</table>

		<small>
			<p>{% trans "<strong>Caution:</strong> If you change your email address, you won't receive any mails until you've verified the new address, so be sure to do that quickly!" %}</p>
			{% trans 'Current status' %}:
			{% if user.mail_verified %}
				{% trans 'Verified' %}.
			{% else %}
				<span style="color: red;">{% trans 'Unverified' %}. </span>
			{% endif %}
		</small>

		<p><a href='{% url "password_change" %}'>{% trans "Change my password" %}</a></p>
		<p><a href='{% url "two_factor:profile" %}'>{% trans "Two-factor authentication" %}</a></p>

		<button type='submit'>
				<i class='icon-share-alt'></i> {% trans "submit" %}
		</button>
	</form>
{% endblock %}
