{% load i18n %} 

<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<link href='http://fonts.googleapis.com/css?family=Exo:100,200,300,400,600,700' rel='stylesheet' type='text/css'>

		<link href="{{ STATIC_URL }}css/reset.css" rel="stylesheet" />
		<link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" />

		<link rel='icon' type='image/png' href='{{ STATIC_URL }}img/favicon.png' />

		<script>
			var static_url = '{{ STATIC_URL }}';
			var media_url = '{{ MEDIA_URL }}';
		</script>

		<title>{{ title }} – shortdiary</title>

		{% block headeradd %}
		{% endblock %}
	</head>
	<body>
		<div id="top-block">
			<a href="/"><h1 id="name">shortdiary</h1></a>

			<div id="navigation">
				{% if user.is_authenticated %}
					<a href="/post/new/">{% trans 'New post' %}</a>
					<a href="/accounts/logout/">{% trans 'Log out' %}</a>
				{% else %}
					<a href="/accounts/login/">{% trans 'Log in' %}</a>
					<a href="/accounts/signup/">{% trans 'Sign up' %}</a>
				{% endif %}

				<span id="languages">
					{% for lang in LANGUAGES %}
						<a href="/i18n/setlang/{{ lang.0 }}/">{{ lang.1 }}</a>
					{% endfor %}
				</span>
			</div>
		</div>
		<div role="main">
			<h1 id="title">{{ title }}</h1>
			
			{% block content %}
				{% if content %}
					{{ content|safe }}
				{% else %}
					{% trans 'No content to show :(' %}
				{% endif %}
			{% endblock %}

			<div id='footer'>
				shortdiary 0.1.0 Paperstorm

				{% if user.is_superuser %}
					– <a href="/admin/">{% trans 'Admin panel' %}</a>
				{% endif %}
			</div>
		</div>

		{% if not DEBUG %}
			<script src='https://stats.ohai.su/piwik.js' type='text/javascript'></script>
			<script type="text/javascript">
				try {
					var piwikTracker = Piwik.getTracker("https://stats.ohai.su/piwik.php", 5);
					piwikTracker.trackPageView();
					piwikTracker.enableLinkTracking();
				} catch(err) {}
			</script><noscript><p><img src="https://stats.ohai.su/piwik.php?idsite=5" style="border:0" alt="" /></p></noscript>
		{% endif %}
	</body>
</html>
