{% load i18n %}
{% load staticfiles %}

<!doctype html>
<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
	<head>
		<meta charset="utf-8" />

		<title>{% block title %}{% if title %}{{ title }} – {%endif%}shortdiary{% endblock %}</title>

		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<link href='//fonts.googleapis.com/css?family=Exo+2:200,300,400,600,700' rel='stylesheet' type='text/css'>

		<link href="{% static 'css/main.css' %}" rel="stylesheet" />
		<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
		
		<!--[if IE 7]>
		<link href="{% static 'css/font-awesome-ie7.min.css' %}" rel="stylesheet" />
		<![endif]-->

		<link rel='icon' type='image/png' href='{% static "img/favicon.png" %}' />

		<meta name="apple-mobile-web-app-capable" content="yes" />

		<link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/apple-touch-icon-114.png' %}" />
		<link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/apple-touch-icon-114.png' %}" />
		<link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/apple-touch-icon-144.png' %}" />
		<link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/apple-touch-icon-144.png' %}" />
		<link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon-114.png' %}" />

		<meta name="application-name" content="Shortdiary" />
		<meta name="msapplication-TileColor" content="#036564" />
		<meta name="msapplication-square70x70logo" content="{% static 'img/windows-tile-tiny.png' %}" />
		<meta name="msapplication-square150x150logo" content="{% static 'img/windows-tile-square.png' %}" />
		<meta name="msapplication-wide310x150logo" content="{% static 'img/windows-tile-wide.png' %}" />
		<meta name="msapplication-square310x310logo" content="{% static 'img/windows-tile-large.png' %}" />

		<script src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
		<script src='{% static "js/csrf.js" %}'></script>
		<script src='{% static "js/underscore-min.js" %}'></script>
		<script src='{% static "js/jquery-scrollto.js" %}'></script>
		<script src='{% static "js/scrolltofixed.min.js" %}'></script>
		<script src='{% static "js/base.js" %}'></script>

		<meta property="fb:page_id" content="706681056027948" />
		<meta name="twitter:domain" content="shortdiary.me">
		<meta name="twitter:site" content="@shortdiaryme" />
		<meta property="og:type" content="website">
		
		{% block headeradd %}
		{% endblock %}
	</head>
	<body>
		<div id="top-block">
			<div class='inner'>
				<a href="/"><h1 id="name">shortdiary</h1></a>

				<nav>
					<ul>
						{% if user.is_authenticated %}
							<li {% if request.path == '/' %}class='active'{% endif %}><a href="/">{% trans 'Home' %}</a></li>
							<li {% if request.path == '/posts/new/' %}class='active'{% endif %}><a href="/posts/new/">{% trans 'New post' %}</a></li>
							<li {% if request.path == '/explore/' %}class='active'{% endif %}><a href="/explore/">{% trans 'Explore' %}</a></li>
							<li {% if request.path == '/stats/' %}class='active'{% endif %}><a href="/stats/">{% trans 'Statistics' %}</a></li>
							<li {% if request.path == '/stats/leaderboard/' %}class='active'{% endif %}><a href="/stats/leaderboard/">{% trans 'Leaderboard' %}</a></li>
						{% else %}
							<li {% if request.path == '/accounts/login/' %}class='active'{% endif %}><a href="/accounts/login/">{% trans 'Log in' %}</a></li>
							<li {% if request.path == '/accounts/signup/' %}class='active'{% endif %}><a href="/accounts/signup/">{% trans 'Sign up' %}</a></li>
						{% endif %}
					</ul>

					<ul class="right">
						{% if user.is_authenticated %}
							<li><a href="{% url 'diary.views.account_settings' %}" title="{% trans 'Account settings' %}"><i class="icon-wrench"></i></a></li>
							<li><a href="{% url 'django.contrib.auth.views.logout' %}" title="{% trans 'Sign out' %}"><i class="icon-signout"></i></a></li>
						{% endif %}
					</ul>
				</nav>
			</div>
		</div>
		<div role="main">
			{% block maintitle %}{% endblock %}
			
			{% block content %}
				{% if content %}
					{{ content|safe }}
				{% else %}
					{% trans 'No content to show :(' %}
				{% endif %}
			{% endblock %}

			{% block footer %}
				<div id='footer'>
					shortdiary {% include 'current_git_version.txt' %} | <a href="{% url 'tos' %}">{% trans 'TOS' %}</a> | <a href='{% url "about" %}'>{% trans 'Security &amp; Imprint' %}</a>

					{% if user.is_staff %}
						 | <a href="{% url 'admin:index' %}">{% trans 'Admin' %}</a>
					{% endif %}


					<span id="languages">
						<i class="icon-flag" style="margin-right: 7px;"></i>
						{% for lang in LANGUAGES %}
							<a href="{%url 'diary.views.switch_language' lang.0 %}">{{ lang.1 }}</a>{% if not forloop.last %} |{% endif %}
						{% endfor %}
					</span>
				</div>
			{% endblock %}
		</div>

		{% if not DEBUG %}
<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '53602ccbeddd5b151f00016c');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
		{% endif %}
	</body>
</html>
