{% load i18n %}
{% load gravatar %}
{% load staticfiles %}

<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />

		<title>{{ title }} – shortdiary</title>

		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<link href='//fonts.googleapis.com/css?family=Exo:100,200,300,400,600,700' rel='stylesheet' type='text/css'>

		<link href="{% static 'css/main.css' %}" rel="stylesheet" />
		<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
		
		<!--[if IE 7]>
		<link href="{% static 'css/font-awesome-ie7.min.css' %}" rel="stylesheet" />
		<![endif]-->

		<link rel='icon' type='image/png' href='{% static "img/favicon.png" %}' />

		<script>
			var static_url = '{{ STATIC_URL }}';
			var media_url = '{{ MEDIA_URL }}';
		</script>

		<script src='//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js'></script>
		<script src='{% static "js/csrf.js" %}'></script>

		{% block headeradd %}
		{% endblock %}
	</head>
	<body>
		<div id="top-block">
			<a href="/"><h1 id="name">shortdiary</h1></a>

			<div id="navigation">
				{% if user.is_authenticated %}
					<a href="/posts/new/">{% trans 'New post' %}</a>
					<a href="/invite/">{% trans 'Invite someone' %}</a>
				{% else %}
					<a href="/accounts/login/">{% trans 'Log in' %}</a>
					<a href="/accounts/signup/">{% trans 'Sign up' %}</a>
				{% endif %}

				<a href="http://blog.shortdiary.me" target="_blank">{% trans 'Blog' %}</a>

				<span class="right">
					{% if user.is_authenticated %}
						<a href='/'>{% gravatar user.email 25 %} {{ user.username }}</a>
						
						<span class="nav-icons">
							<a href="/accounts/settings/" title="{% trans 'Account settings' %}"><i class="icon-wrench"></i></a>
							<a href="/accounts/logout/" title="{% trans 'Sign out' %}"><i class="icon-signout"></i></a>
						</span>
					{% endif %}
				</span>
			</div>
		</div>
		<div role="main">
			{% block maintitle %}<h1 id="title">{{ title }}</h1>{% endblock %}
			
			{% block content %}
				{% if content %}
					{{ content|safe }}
				{% else %}
					{% trans 'No content to show :(' %}
				{% endif %}
			{% endblock %}

			<div id='footer'>
				shortdiary <a href='https://github.com/shortdiary/shortdiary/commit/{% include 'current_git_version.txt' %}'>0.3.0 Federschwert</a> | <a href="/tos/">{% trans 'TOS' %}</a> | <a href='/about/'>{% trans 'About, Security &amp; Imprint' %}</a>. | <a href="https://github.com/shortdiary/shortdiary/issues/new" target="_blank">{% trans 'Report bug' %}</a>

				{% if user.is_superuser %}
					 | <a href="/admin/">{% trans 'Admin' %}</a>
				{% endif %}


				<span id="languages">
					<i class="icon-flag" style="margin-right: 7px;"></i>
					{% for lang in LANGUAGES %}
						<a href="/i18n/setlang/{{ lang.0 }}/">{{ lang.1 }}</a>{% if not forloop.last %} |{% endif %}
					{% endfor %}
				</span>
			</div>
		</div>

		{% if not DEBUG %}
			<script src='https://stats.ohai.su/piwik.js' type='text/javascript'></script>
			<script type="text/javascript">
				try {
					var piwikTracker = Piwik.getTracker("https://stats.ohai.su/piwik.php", 5);
					piwikTracker.trackPageView();
					piwikTracker.enableLinkTracking();
				} catch(err) {}
			</script><noscript><p><img src="https://stats.ohai.su/piwik.php?idsite=5" style="border:0" alt="" /></p></noscript>
		{% endif %}
	</body>
</html>
