{% extends 'base.html' %}
{% load i18n %}
{% load humanize %}
{% load staticfiles %}

{% block headeradd %}
	<script src='{% static "js/edit-post.js" %}'></script>
	<script src='{% static "js/html5slider.js" %}'></script>

	{% if user.geolocation_enabled %}
		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=true"></script>
		<script src='{% static "js/edit-post-geolocation.js" %}'></script>
	{% endif %}

	<style>
		#map-canvas {
			z-index: 0;
			height: 200px;
			width: 100%;
			margin-top: 10px;
		}

		#image-upload {
			margin-top: 20px;
			width: 634px;
			height: 115px;
			background: rgba(0, 0, 0, 0.04);
			border-radius: 3px;
			text-align: center;
			cursor: pointer;
			background-size: auto 100%;
		}

		#image-upload-info {
			padding-top: 35px;
			font-size: 1.5em;
			font-weight: 200;
			margin: 0;
		}

		#image-upload-info-small {
			margin: 0;
			font-size: 1em;
			font-weight: 200;
		}

		#title-light {
			font-weight: 100;
		}
	</style>
{% endblock %}

{%block content %}
	<!--
		Check if there are already posts for today and yesterday and we're not
		just editing an existing post
	-->
	{% if existing_posts.0 and existing_posts.1 and not edit_post %}
		<p>{% trans "You've already written posts for today and yesterday. Good work! Unfortunately, this also means you can't write any more new posts today :(. Check back tomorrow!" %}</p>
	{% else %}
		{% if edit_post %}
				You're currently editing your {{ edit_post.get_user_id|ordinal }} post, which happens to be from {{ edit_post.date }} (That's {{ edit_post.date|naturalday }}).
		{% endif %}

		{% if form.errors %}
			<p>{% trans 'There were some errors :(. Please correct them and try again.' %}</p>
		{% endif %}
		
		<form action='' method='POST' enctype='multipart/form-data'>
			{% csrf_token %}

			<input type='hidden' name='location_lat' value='' />
			<input type='hidden' name='location_lon' value='' />
			<input type='hidden' name='location_verbose' value='' />

			<aside id='edit-post-aside'>
				<div class='label first'><i class='icon-calendar'></i> Date</div>
				{% if not edit_post %}
					<select name='date'>
						<option value='{{ post_days.0|date:"Y-m-d" }}' {% ifequal form.date.value post_days.0|date:"Y-m-d" %}selected {% endifequal %}{% if existing_posts.0 %}disabled{% endif %}>{%trans "yesterday" %} ({{ post_days.0 }})</option>
						<option value='{{ post_days.1|date:"Y-m-d" }}' {% ifequal form.date.value post_days.1|date:"Y-m-d" %}selected {% endifequal %}{% if existing_posts.1 %}disabled{% endif %}>{%trans "today" %} ({{ post_days.1 }})</option>
					</select>
				{% else %}
					{{ edit_post.date }}

					<!-- For post validation reasons -->
					<input type='hidden' name='date' value='{{ edit_post.date|date:"Y-m-d" }}' />
				{% endif %}

				<div class='label'><i class='icon-thumbs-up'></i> Mood: <span id='mood-slider-value'>{% if edit_post.mood %}{{ edit_post.mood }}{% else %}6{% endif %}</span> / 10</div>
				<input id="mood" name="mood" type="range" min="1" max="10" step="1" value="{% if edit_post.mood %}{{ edit_post.mood }}{% else %}6{% endif %}" onchange="$('#mood-slider-value').html(this.value)" style='display: inline-block;' />

				{% if user.geolocation_enabled %}
					<div class='label'><i class='icon-location-arrow'></i><span id='post-location-info'>Location</span></div>
					<div id="map-canvas"><span style='font-weight: 200; font-size: 0.9em;'>We're requesting your location to add it to the post. You can disable this in your settings.</span></div>
				{% endif %}
			</aside>

			<textarea id="text-input" name='text' placeholder="To be or not to be, that is the question: Whether 'tis nobler in the mind to suffer the slings and arrows of outrageous fortune, or to take arms against a sea of troubles, and by opposing, end them? To die: to sleep; no more; and by a sleep to say we end the heart-ache and the thousand natural shocks that flesh is heir to, ’tis a consummation devoutly to be wish’d. To die, to sleep; to sleep: perchance to dream: ay, there’s the rub;" required>{% if form.text.value %}{{ form.text.value }}{% endif %}{{ edit_post.text }}</textarea>
			<small id="new-post-char-counter">0 sentences, 0 words, 0 characters</small>

			This is part of <input type='text' name='part_of' placeholder="e.g. Trip to San Francisco, Comic Con, Weekend with Tom, Mountain Expedition" style='width: 622px' />
			
			{% if not edit_post %}
				<input id='image-upload-input' type='file' name='image' onchange="image_field_change(this);" style='display: none;' />
				<div id='image-upload'>
						<p id='image-upload-info'><strong>Click</strong> to upload image</p>
						<!--<p id='image-upload-info-small'>(or click)</p>-->
					
				</div>
			{% endif %}


			{{ form.text.errors }}	

			{{ form.date.errors }}
			
			{{ form.mood.errors }}

			{{ form.file.errors }}

			<div style="padding-top: 30px;">
				<button type='submit' class='button-gold' name='public' value='false' style='float: left; margin-right: 20px; height: 35px;'>
					<i class='icon-lock'></i> {% trans "Create private post" %}
				</button>

				<button type='submit' name='public' value='true' style='height: 35px;'>
					<i class='icon-unlock'></i> {% trans "Create public post" %}
			</button>
			</div>
		</form>

		<br style='clear: both;' />
	{% endif %}
{% endblock %}
