{% extends 'base.html' %}
{% load i18n %}
{% load humanize %}
{% load staticfiles %}

{% block headeradd %}
	<script src='{% static "js/edit-post.js" %}'></script>
	<script src='{% static "js/html5slider.js" %}'></script>

	{% if user.geolocation_enabled %}
		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=true"></script>
		<script src='{% static "js/edit-post-geolocation.js" %}'></script>
	{% endif %}

	<style>
		#map-canvas {
			width: 634px;
			height: 150px;
			z-index: 0;
		}
	</style>
{% endblock %}

{%block content %}
	<!--
		Check if there are already posts for today and yesterday and we're not
		just editing an existing post
	-->
	{% if existing_posts.0 and existing_posts.1 and not edit_post %}
		<p>{% trans "You've already written posts for today and yesterday. Good work! Unfortunately, this also means you can't write any more new posts today :(. Check back tomorrow!" %}</p>
	{% else %}
		{% if edit_post %}
				You're currently editing your {{ edit_post.get_user_id|ordinal }} post, which happens to be from {{ edit_post.date }} (That's {{ edit_post.date|naturalday }}).
		{% endif %}

		{% if form.errors %}
			<p>{% trans 'There were some errors :(. Please correct them and try again.' %}</p>
		{% endif %}
		
		<form action='' method='POST' enctype='multipart/form-data'>
			{% csrf_token %}

			<input type='hidden' name='location_lat' value='' />
			<input type='hidden' name='location_lon' value='' />
			<input type='hidden' name='location_verbose' value='' />

			<aside id='edit-post-aside'>
				<div class='label first'><i class='icon-calendar'></i> Date</div>
				{% if not edit_post %}
					<select name='date'>
						<option value='{{ post_days.0|date:"Y-m-d" }}' {% ifequal form.date.value post_days.0|date:"Y-m-d" %}selected {% endifequal %}{% if existing_posts.0 %}disabled{% endif %}>{%trans "yesterday" %} ({{ post_days.0 }})</option>
						<option value='{{ post_days.1|date:"Y-m-d" }}' {% ifequal form.date.value post_days.1|date:"Y-m-d" %}selected {% endifequal %}{% if existing_posts.1 %}disabled{% endif %}>{%trans "today" %} ({{ post_days.1 }})</option>
					</select>
				{% else %}
					{{ edit_post.date }}

					<!-- For post validation reasons -->
					<input type='hidden' name='date' value='{{ edit_post.date|date:"Y-m-d" }}' />
				{% endif %}

				<div class='label'><i class='icon-thumbs-up'></i> Mood: <span id='mood-slider-value'>6</span> / 10</div>
				<input id="mood" name="mood" type="range" min="1" max="10" step="1" value="6" onchange="$('#mood-slider-value').html(this.value)" style='display: inline-block;' />

				<div class='label'><i class='icon-camera'></i> Image (optional)</div>
				{% if not edit_post %}
					<input type='file' name='image' />
				{% endif %}
			</aside>

			<textarea id="text-input" name='text' placeholder="To be or not to be, that is the question: Whether 'tis nobler in the mind to suffer the slings and arrows of outrageous fortune, or to take arms against a sea of troubles, and by opposing, end them? To die: to sleep; no more; and by a sleep to say we end the heart-ache and the thousand natural shocks that flesh is heir to, ’tis a consummation devoutly to be wish’d. To die, to sleep; to sleep: perchance to dream: ay, there’s the rub;" required>{% if form.text.value %}{{ form.text.value }}{% endif %}{{ edit_post.text }}</textarea>
			<small id="new-post-char-counter">350</small>
			<small id='post-location-info' style='display: none;'>We're requesting your location to add it to the post. You can disable this in your settings.</small>
			
			{% if user.geolocation_enabled %}
				<div id="map-canvas"></div>
			{% endif %}


			{{ form.text.errors }}	

			{{ form.date.errors }}
			
			{{ form.mood.errors }}

			{{ form.file.errors }}

			<div style="padding-top: 30px;">
				<button type='submit' class='button-gold' name='public' value='false' style='float: left; margin-right: 20px; height: 35px;'>
					<i class='icon-lock'></i> {% trans "Create private post" %}
				</button>

				<button type='submit' name='public' value='true' style='height: 35px;'>
					<i class='icon-unlock'></i> {% trans "Create public post" %}
			</button>
			</div>
		</form>

		<br style='clear: both;' />
	{% endif %}
{% endblock %}