{% extends 'base.html' %}
{% load i18n %} 
{% load humanize %}
{% load remove_newlines %}

{%block content %}
	<aside>
		<div class='label first'><i class='icon-calendar'></i>Date</div>
		<time pubdate datetime="{{ post.date|date:"Y-m-d" }}">{{ post.date }}</time>

		{% if user.is_authenticated and user == post.author %}
			<div class='label first'><i class='icon-thumbs-up'></i>Mood</div>
			{{ post.mood }} / 10
		{% endif %}

		<div class='label first'><i class='icon-upload'></i>Created</div>
		{{ post.created_at }}
	</aside>
	
	<article>{{ post.get_public_text|linebreaks }}</article>

	{% if post.image %}
		<a href="{{ MEDIA_URL }}{{ post.image }}" target="_blank"><img itemprop="image" class="post-image" src="{{ MEDIA_URL }}{{ post.image }}" /></a>
	{% endif %}

	{% if user.is_authenticated and user == post.author and post.is_editable %}
		 <a href='{% url "diary.views.edit_post" post.id %}'><i class='icon-edit'></i> {% trans 'Edit' %}</a>
	{% endif %}

	<br class='clear' />
{% endblock %}