{% extends 'base.html' %}
{% load i18n %} 
{% load humanize %}
{% load staticfiles %}

{% block headeradd %}
	<link href='{% static "css/frontpage.css" %}' rel="stylesheet" />
	<script src='{% static "js/frontpage.js" %}'></script>
{% endblock %}

{% block maintitle %}
	<div id='jumbotron'>
		<h1 id='title'>Revisit your past and relive great moments. Remember your future.</h1>

		It's your plans. Your hopes &amp; dreams. Your ideas. Your achievements &amp; failures. It's who you are, and who you are going to be.  It is your life. And you should remember it.

		<div id="front-mainsignup">
			<form id='invite-request-form'>
				<input type='email' name='email' placeholder='Your email address' pattern="[^ @]+@[^ @]+" required />
				<button type='submit'>Request invite</button>
				<i class=""></i> 
			</form>
		</div>

	</div>
{% endblock %}

{%block content %}
	<img style="width: 350px; float: right; margin: 10px;" src='{% static "img/screenshot.png" %}' />

	<h2 style="margin-top: 0; font-weight: 200; font-size: 35px;">{% trans "shortdiary lets you think of all the great things you have done and all those still on your to do list." %}</h2>

	<h2 style="margin-top: 30px; margin-bottom: 80px; font-weight: 200; font-style: italic; font-size: 30px;">It's your life. You should remember it.</h2>



	<hr />

	{% if post %}

		<p id="front-randompost">
			<h2>{% trans 'Random public post' %}</h2>

			{{ post.text|linebreaks }}
		</p>
	{% endif %}
{% endblock %}