{% extends 'base.html' %}
{% load i18n %} 
{% load humanize %}
{% load staticfiles %}

{% block title %}shortdiary: It's your life. You should remember it{% endblock %}

{% block headeradd %}
	<link rel="canonical" href="https://shortdiary.me/" />
	<meta name="description" content="Remember what you did one year ago. Revisit your past, relive great moments. shortdiary sends you diary entries from your past." />
	<meta property="og:title" content="shortdiary: It's your life. You should remember it">
	<meta name="twitter:title" content="shortdiary: It's your life. You should remember it" />
	<meta name="twitter:description" content="Remember what you did one year ago. Revisit your past, relive great moments. shortdiary sends you diary entries from your past." />

	<link href='{% static "css/frontpage.css" %}' rel="stylesheet" />
	<script src='{% static "js/frontpage.js" %}'></script>
{% endblock %}

{% block maintitle %}
	<div id='jumbotron'>

		<h1 id='title'>A Diary for the 21st Century.</h1>
<!--		<h1 id='title'>Remember what you did one year ago. Revisit your past, relive great moments.</h1>-->

		<div id="front-mainsignup">
			<a href='{% url "diary.views.sign_up" %}'>Sign up for free.</a>
		</div>
	</div>

	<video id='frontpage-bg' preload='auto' poster='{% static "img/frontpagebg.png" %}' autoplay loop>
		<source src="{% static 'vid/frontpagebg.mp4' %}" type="video/mp4">
		<source src="{% static 'vid/frontpagebg.webm' %}" type="video/webm">
		<source src="{% static 'vid/frontpagebg.ogv' %}" type="video/ogg">
	</video>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
	<div id='footer'>
	<a href="{% url 'tos' %}">{% trans 'TOS' %}</a> | <a href='{% url "about" %}'>{% trans 'Imprint' %}</a>
	</div>
{% endblock %}