{% extends 'base.html' %}
{% load i18n %} 
{% load l10n %} 
{% load humanize %}
{% load staticfiles %}

{% block headeradd %}
	<script src='{% static "js/index.js" %}'></script>
	<link href="{% static "css/timeline.css" %}" rel="stylesheet" />
{% endblock %}

{%block content %}
	{% if user.is_authenticated and not user.mail_verified %}
		<p>{% trans "<b>Your email address is unverified</b>. Therefore, we won't be able to send you any mails, <i>including</i> your diary mails. Please check your inbox for the verification link." %}</p>
	{% endif %}

	<h2>{% trans 'Your activity' %}</h2>
	<div id='activity-calendar' class='border'>
		<div class='activity-infobox'>
			<span class='factoid'>{% if user.get_streak %}{{ user.get_streak|intcomma }}{% else %}0{% endif %}</span>

			{% trans 'day posting streak' %}
		</div>

		<div class='activity-infobox'>
			<span class='factoid'>{{ user.get_posts|length|intcomma }}</span>

			{% trans 'total posts' %}
		</div>

		<div class='activity-infobox last'>
			<span class='factoid'>{{ user.get_post_characters|intcomma }}</span>

			{% trans 'total characters in posts' %}
		</div>

		<hr class='clear'>

		{% for day in user.get_year_history %}
			<div class='activity-calendar-day' style="background-color: {% if day %}{{ day.get_activity_color }}{% else %}#eee{% endif %}">
				&nbsp;
			</div>
		{% endfor %}

		<br class='clear' />
	</div>

	<h2>February 2014</h2>

	<div class='timeline'>
		<div class='timeline-box'>
			<p>Dessert topping caramels. Jelly beans biscuit tart soufflé. Topping sweet roll donut apple pie chupa chups cheesecake tiramisu. Pastry marshmallow tiramisu unerdwear.com powder. Dessert gummi bears marzipan chocolate fruitcake candy canes. Carrot cake carrot cake pudding. Macaroon toffee cupcake sesame snaps soufflé bonbon pastry ice cream cupcake. Liquorice chupa chups pudding icing sugar plum toffee sesame snaps wafer. Powder jujubes sweet roll jelly dragée sugar plum jelly beans. Chocolate bar oat cake marzipan gummies oat cake jelly chocolate bar. Chocolate danish brownie macaroon toffee brownie jelly wafer donut. Jelly-o sesame snaps unerdwear.com carrot cake candy canes wafer oat cake cheesecake. Cupcake gummies sweet candy canes.</p>

			<div class='timeline-details'>Posted 1 day, 21 hours ago from Berlin, Germany</div>
		</div>

		<div class='timeline-box'>
			<p>Chocolate pie jujubes applicake bonbon cotton candy apple pie. Macaroon bear claw toffee cheesecake danish cotton candy chupa chups. Gingerbread cupcake macaroon liquorice marzipan marshmallow cake. Apple pie croissant biscuit dessert lemon drops croissant. Gingerbread icing pudding gingerbread. Soufflé cookie pie cheesecake. Lemon drops candy canes jujubes tootsie roll cheesecake lemon drops biscuit candy canes apple pie. Candy canes croissant marshmallow. Pastry tart gummi bears soufflé liquorice. Liquorice dessert bonbon lollipop cookie croissant unerdwear.com candy lollipop. Ice cream dragée candy canes jelly beans marzipan unerdwear.com chocolate. Jelly marshmallow donut.</p>

			<div class='timeline-details'>Posted 1 day, 21 hours ago from Berlin, Germany</div>
		</div>

		<div class='timeline-box'>
			<p>Sweet jujubes jelly-o fruitcake. Soufflé gingerbread halvah chocolate bar. Macaroon tart topping candy canes dragée topping caramels muffin cupcake. Carrot cake pastry powder jelly beans. Icing sweet roll tiramisu candy. Wafer icing cotton candy sugar plum sugar plum lemon drops apple pie. Ice cream macaroon toffee jujubes. Tart tiramisu fruitcake cheesecake jelly beans halvah. Chocolate cake icing tiramisu dessert jelly dragée jelly beans chocolate cake jujubes. Chupa chups tiramisu lollipop jelly beans soufflé pudding gummies biscuit tart. Donut macaroon donut. Croissant jujubes croissant macaroon. Jelly bear claw brownie icing. Jelly beans chocolate cake marzipan biscuit.</p>

			<div class='timeline-details'>Posted 1 day, 21 hours ago from Berlin, Germany</div>
		</div>
	</div>




	<div class="buttonpane">
		<h2>{% trans 'Recent posts' %}</h2>
		<a href='{%url "diary.views.edit_post" %}' class='button'><i class='icon-plus-sign'></i> {% trans 'Add post' %}</a>
	</div>
	<!-- <a href='/post/{{ post.id }}/'> -->
	<table class="post-list border alternate">
		<tbody>
			{% for post in posts %}
					<tr id='post-{{ post.id }}' data-id='{{ post.id }}' onclick="window.location.href = '{% url "diary.views.show_post" post.id %}';">
						<td style="width: 45px; text-align: center;">
							<a href='{% url "diary.views.show_post" post.id %}'><strong>#{{ post.get_user_id }}</strong></a>
						</td>
						<td style='width: 13px;' class='edit'>
							{% if post.is_editable %}<a href='{% url "diary.views.edit_post" post.id %}'><i class='icon-edit'></i></a> <a class='delete-post' data-id='{{ post.id }}'><i class='icon-trash'></i></a>{% endif %}
						</td>
						<td style="width: 250px;">
							<!-- We heard you like tables … -->
							<table>
								<tbody>
									<tr>
										<td><a href='{% url "diary.views.show_post" post.id %}'><strong>{{ post.date|naturalday }}</strong></a></td>
									</tr>
									<tr>
										<td>
											<a href='{% url "diary.views.show_post" post.id %}'><small style='font-size: .8em; font-weight: 300;'>{% trans 'Posted' context 'In front of post creation date' %} {{ post.created_at|naturaltime }}</small></a>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
						<td>
							<a href='{% url "diary.views.show_post" post.id %}'><small class="text-teaser">{{ post.text|truncatechars:140 }}</small></a>
						</td>
					</tr>
			{% empty %}
				<tr><td>No posts to show – Try <a href="{% url 'diary.views.edit_post' %}">adding a new post</a>!</td></tr>
			{% endfor %}
		</tbody>
	</table>
	<p><small>{% trans '(You can view posts from the last 7 days and edit posts from the last 3 days).' %}</small></p>
{% endblock %}