{% extends 'base.html' %}
{% load i18n %} 
{% load humanize %}
{% load staticfiles %}

{% block headeradd %}
	<script src='{% static "js/index.js" %}'></script>
{% endblock %}

{%block content %}
	<p>
		{% trans 'Welcome back, '%}
		{% if user.firstname %}
			{{ user.firstname %}!
		{% else %}
			{{ user.username }}!
		{% endif%}

		Your current streak: {{ user.get_profile.get_streak }} day{{ user.get_profile.get_streak|pluralize }}.
	</p>

	{% if user.is_authenticated and not user.get_profile.mail_verified %}
		<p><b>Your email address is unverified</b>. Therefore, we won't be able to send you any mails, <i>including</i> your diary mails. Please check your inbox for the verification link.</p>
	{% endif %}

	<div class="buttonpane">
		<h2>{% trans 'Recent posts' %}</h2>
		<a href='/posts/new/' class='button'><i class='icon-plus-sign'></i> {% trans 'Add post' %}</a>
	</div>
	<!-- <a href='/post/{{ post.id }}/'> -->
	<table class="post-list border alternate">
		<tbody>
			{% for post in posts %}
					<tr id='post-{{ post.id }}' data-id='{{ post.id }}' onclick="window.location.href = '/posts/{{ post.id }}';">
						<td style="width: 45px; text-align: center;">
							<a href='/posts/{{ post.id }}'><strong>#{{ post.get_user_id }}</strong></a>
						</td>
						<td style='width: 13px;' class='edit'>
							{% if post.is_editable %}<a href='/posts/{{ post.id }}/edit/'><i class='icon-edit'></i></a> <a class='delete-post' data-id='{{ post.id }}'><i class='icon-trash'></i></a>{% endif %}
						</td>
						<td style="width: 250px;">
							<!-- We heard you like tables … -->
							<table>
								<tbody>
									<tr>
										<td><a href='/posts/{{ post.id }}'><strong>{{ post.date|naturalday }}</strong></a></td>
									</tr>
									<tr>
										<td>
											<a href='/posts/{{ post.id }}'><small style='font-size: .8em; font-weight: 300;'>Posted {{ post.created_at }}</small></a>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
						<td>
							<a href='/posts/{{ post.id }}'><small class="text-teaser">{{ post.text|truncatechars:140 }}</small></a>
						</td>
					</tr>
			{% empty %}
				{% trans 'No posts to show – Try <a href="/posts/new/">adding a new post</a>!'%}
			{% endfor %}
		</tbody>
	</table>
	<p><small>(You can view posts from the last 7 days and edit posts from the last 3 days).</small></p>

	{% if randompost %}
		<h2>{% trans 'Random public post' %}</h2>
		<p>{{ randompost.text|linebreaks }}</p>
	{% endif %}
{% endblock %}