{% extends 'base.html' %}
{% load i18n %} 
{% load l10n %} 
{% load humanize %}
{% load static %}
{% load timetags %}

{%block content %}
	<div style='width: 50%; float: left; padding: 0; margin: 0;'>
		<div style='padding-right: 20px'>
			<h3>{% trans "Number of posts" %}</h3>
			<table class="border alternate">
				<tbody>
					{% for user in posts_leaders %}
							<tr>
								<td style='width: 25px;'>
									#{{ forloop.counter }}
								</td>
								<td>
									{{ user.username }}
								</td>
								<td style='width: 170px;'>
									{{ user.post_set.all|length }} {% trans "posts" %}
								</td>
							</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div style="width: 50%; padding: 0; margin: 0; float: right;">
		<div style='padding-left: 20px'>
			<h3>{% trans "Longest streak" %}</h3>
			<table class="border alternate">
				<tbody>
					{% for user in streak_leaders %}
							<tr>
								<td style='width: 25px;'>
									#{{ forloop.counter }}
								</td>
								<td>
									{{ user.username }}
								</td>
								<td style='width: 170px;'>
									{{ user.get_streak }} {% trans "days" %}
								</td>
							</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<br class='clear' />
	<div style='width: 50%; float: left; padding: 0; margin: 0;'>
		<div style='padding-right: 20px'>
			<h3>{% trans "Most characters" %}</h3>
			<table class="border alternate">
				<tbody>
					{% for user in chars_leaders %}
							<tr>
								<td style='width: 25px;'>
									#{{ forloop.counter }}
								</td>
								<td>
									{{ user.username }}
								</td>
								<td style='width: 170px;'>
									{{ user.get_post_characters|intcomma }} {% trans "characters" %}
								</td>
							</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div style="width: 50%; padding: 0; margin: 0; float: right;">
		<div style='padding-left: 20px'>
			<h3>{% trans "Average post length" %}</h3>
			<table class="border alternate">
				<tbody>
					{% for user in avg_post_length_leaders %}
							<tr>
								<td style='width: 25px;'>
									#{{ forloop.counter }}
								</td>
								<td>
									{{ user.username }}
								</td>
								<td style='width: 170px;'>
									{{ user.get_average_post_length }} {% trans "characters" %}
								</td>
							</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<br class='clear' />
	<div style='width: 50%; float: left; padding: 0; margin: 0;'>
		<div style='padding-right: 20px'>
			<h3>{% trans "Popular languages" %}</h3>
			<table class="border alternate">
				<tbody>
					{% for language in popular_languages %}
							<tr>
								<td style='width: 25px;'>
									#{{ forloop.counter }}
								</td>
								<td>
									{{ language.name }}
								</td>
								<td style='width: 170px;'>
									{{ language.count }} {% trans "posts" %}
								</td>
							</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div style="width: 50%; padding: 0; margin: 0; float: right;">
		<div style='padding-left: 20px'>
			<h3>{% trans "Popular locations" %}</h3>
			<table class="border alternate">
				<tbody>
					{% for location in popular_locations %}
							<tr>
								<td style='width: 25px;'>
									#{{ forloop.counter }}
								</td>
								<td>
									{{ location.location_verbose }}
								</td>
								<td style='width: 170px;'>
									{{ location.count }} {% trans "posts" %}
								</td>
							</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	<br class='clear' />

	<p><small>{% trans "This page is regenerated every 5 minutes. Last update " %} {{ last_update|naturaltime }}.</small></p>
{% endblock %}
