{% extends "base.html" %}
{% load i18n %} 

{% block content %}
	{% if errors %}
		<p>{% trans "Your username and password didn't match. Please try again." %}</p>
	{% endif %}

	<form method="post" action="">
		{% csrf_token %}

		<input id="id_username" type="text" name="username" maxlength="30" placeholder="{% trans 'Username' %}" />
		<input type="password" name="password" id="id_password" placeholder="{% trans 'Password' %}" />

		<input type="submit" value="{% trans 'Log in' %}" />
		<input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}/{% endif %}" />
	</form>
{% endblock %}
