{% extends 'base.html' %}
{% load i18n %}

{% block headeradd %}
	<script>
		function show_chars() {
			var chars_left = 350 - $(this).val().length;
			$('#new-post-char-counter').html(chars_left);

			if(chars_left < 0)
				$('#new-post-char-counter').css('color', 'red');
			else if(chars_left < 15)
				$('#new-post-char-counter').css('color', 'orange');
			else
				$('#new-post-char-counter').css('color', 'inherit');
		}

		$(document).ready(function() {
			$('#text-input').keyup(show_chars);
			$('#text-input').change(show_chars);
		});
	</script>
{% endblock %}

{%block content %}
	{% if form.errors %}
		<p>{% trans 'There were some errors :(. Please correct them and try again.' %}</p>
	{% endif %}
	
	<form action='' method='POST' enctype='multipart/form-data'>
		{% csrf_token %}

		<textarea id="text-input" name='text' placeholder='{%trans "Enter your text here (Max. 350 chars)" %}'>{% if form.text.value %}{{ form.text.value }}{% endif %}</textarea>
		<small id="new-post-char-counter">350</small>
		{{ form.text.errors }}
		
		<select name='date'>
			<option value='{{ yesterday|date:"Y-m-d" }}'>{%trans "yesterday" %}</option>
			<option value='{{ today|date:"Y-m-d" }}' selected>{%trans "today" %}</option>
		</select>
		{{ form.date.errors }}
		
		<input type='text' name='mood' maxlength='100' placeholder='{%trans "mood" %}' value="{% if form.mood.value %}{{ form.mood.value }}{% endif %}" />
		{{ form.mood.errors }}

		<p><small>Image (optional)</small></p>
		<input type='file' name='image' />
		{{ form.file.errors }}
		<input type='submit' value='{% trans "submit" %}' />
	</form>
{% endblock %}