{% extends 'base.html' %}
{% load i18n %}

{% block headeradd %}
	<script>
		function show_chars() {
			var chars_left = 350 - $(this).val().length;
			$('#new-post-char-counter').html(chars_left);

			if(chars_left < 0)
				$('#new-post-char-counter').css('color', 'red');
			else if(chars_left < 15)
				$('#new-post-char-counter').css('color', 'orange');
			else
				$('#new-post-char-counter').css('color', 'inherit');
		}

		$(document).ready(function() {
			$('#text-input').keyup(show_chars);
			$('#text-input').change(show_chars);
		});
	</script>
{% endblock %}

{%block content %}
	{% if existing_posts.0 and existing_posts.1 %}
		<p>{% trans "You've already written posts for today and yesterday. Good work! Unfortunately, this also means you can't write any more new posts today :(. Check back tomorrow!" %}</p>
	{% else %}
		{% if form.errors %}
			<p>{% trans 'There were some errors :(. Please correct them and try again.' %}</p>
		{% endif %}
		
		<form action='' method='POST' enctype='multipart/form-data'>
			{% csrf_token %}

			<textarea id="text-input" name='text' placeholder='{%trans "Enter your text here (Max. 350 chars)" %}'>{% if form.text.value %}{{ form.text.value }}{% endif %}</textarea>
			<small id="new-post-char-counter">350</small>
			{{ form.text.errors }}
			
			<select name='date'>
				<option value='{{ post_days.0|date:"Y-m-d" }}' {% ifequal form.date.value post_days.0|date:"Y-m-d" %}selected {% endifequal %}{% if existing_posts.0 %}disabled{% endif %}>{%trans "yesterday" %} ({{ post_days.0 }})</option>
				<option value='{{ post_days.1|date:"Y-m-d" }}' {% ifequal form.date.value post_days.1|date:"Y-m-d" %}selected {% endifequal %}{% if existing_posts.1 %}disabled{% endif %}>{%trans "today" %} ({{ post_days.1 }})</option>
			</select>

			{{ form.date.errors }}
			
			<input type='text' name='mood' maxlength='100' placeholder='{%trans "mood" %}' value="{% if form.mood.value %}{{ form.mood.value }}{% endif %}" />
			{{ form.mood.errors }}

			<p><small>Image (optional)</small></p>
			<input type='file' name='image' />
			{{ form.file.errors }}

			<button type='submit'>
				<i class='icon-share-alt'></i> {% trans "Submit" %}
			</button>
		</form>
	{% endif %}
{% endblock %}