{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load settings_value %}

{%block content %}
<h2>VIP</h2>

<p>Get VIP because you'll be more awesome and we'll love you and stuff. Also, in the future, you'll get access to some extra features that are still in the works.</p>

<h3>Pay with Credit Card</h3>

<form action="/pay/stripe/" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="{% settings_value 'STRIPE_PUBLIC_KEY' %}"
    data-name="Shortdiary"
    data-description="VIP subscription"
    data-amount="350"
    data-currency="EUR"
    data-email="{{ user.email }}"
    data-label="Pay with Credit Card"
    data-panel-label="Subscribe for {% verbatim %}{{amount}}{% endverbatim %} / month">
  </script>
</form>

<h3> Pay via bank transfer</h3>

<p>Please set up a monthly recurring bank transfer with the following details:</p>

<table>
    <tr>
        <td style='width: 150px;'>Account holder</td>
        <td>fnordcordia GbR</td>
    </tr>
    <tr>
        <td>IBAN</td>
        <td>
            <span style="margin-right:.4ex;">DE02</span><span style="margin-right:.4ex;">4306</span><span style="margin-right:.4ex;">0967</span><span style="margin-right:.4ex;">6033</span><span style="margin-right:.4ex;">4002</span><span style="margin-right:.4ex;">00</span>
        </td>
    </tr>
    <tr>
        <td>BIC</td>
        <td>GENODEM1GLS</td>
    </tr>
    <tr>
        <td>Amount</td>
        <td>€ 3.50</td>
    </tr>
    <tr>
        <td>Reference</td>
        <td>shortdiary vip {{ user.id }}</td>
    </tr>
</table>

<p>Alternatively, you can also transfer multiples of 3.50€, in which case we will credit your account with the corresponding amount of months of VIP.</p>
{% endblock %}

