{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load settings_value %}

{% block headeradd %}
    <script src='{% static "js/vip.js" %}'></script>
{% endblock %}

{%block content %}
<h2>Support shortdiary &amp; get access to the best new features first!</h2>


<p>Running shortdiary and keeping your data safe and secure costs time and money. We will always keep shortdiary running and your data safe, but we won't be able to add new features without your help.</p>

<p>Support shortdiary and make sure you're always among the first who get to see new features!</p>

<form action="/pay/stripe/" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="{% settings_value 'STRIPE_PUBLIC_KEY' %}"
    data-name="Shortdiary"
    data-description="VIP subscription"
    data-amount="350"
    data-currency="EUR"
    data-email="{{ user.email }}"
    data-label="Upgrade to VIP!"
    data-panel-label="Subscribe for {% verbatim %}{{amount}}{% endverbatim %} / month">
  </script>
</form>

<p>Monthly fee 3.5€ / Will appear on your credit card statement as Fnordcordia Shortdiary.</p>

<a href='#' id='vip-pay-banktransfer-link'>I prefer to pay by bank transfer</a>

<div id='vip-banktransfer' style='display: none;'>
    <h3> Pay by bank transfer</h3>

    <p>Please set up a monthly recurring bank transfer with the following details:</p>

    <table>
        <tr>
            <td style='width: 150px;'>Account holder</td>
            <td>fnordcordia GbR</td>
        </tr>
        <tr>
            <td>IBAN</td>
            <td>
                <span style="margin-right:.4ex;">DE02</span><span style="margin-right:.4ex;">4306</span><span style="margin-right:.4ex;">0967</span><span style="margin-right:.4ex;">6033</span><span style="margin-right:.4ex;">4002</span><span style="margin-right:.4ex;">00</span>
            </td>
        </tr>
        <tr>
            <td>BIC</td>
            <td>GENODEM1GLS</td>
        </tr>
        <tr>
            <td>Amount</td>
            <td>€ 3.50</td>
        </tr>
        <tr>
            <td>Reference</td>
            <td>shortdiary vip {{ user.id }}</td>
        </tr>
    </table>

    <p>Alternatively, you can also transfer multiples of 3.50€, in which case we will credit your account with the corresponding amount of months of VIP.</p>
</div>
{% endblock %}

