{% extends 'base.html' %}
{% load i18n %} 
{% load humanize %}
{% load remove_newlines %}

{% block headeradd %}
	<meta name="description" content="{{ post.text|remove_newlines|truncatechars:200 }}" />
	<meta property="og:title" content="Post #{{ post.id }} from {{ post.date }}">

	{% if post.image %}
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:image:src" content="{{ post.image }}">

		<meta property="og:image" content="{{ post.image }}">
		<meta property="og:image:secure_url" content="{{ post.image }}">
	{% else %}
		<meta name="twitter:card" content="summary" />
	{% endif %}

	<meta name="twitter:title" content="Post #{{ post.id }} from {{ post.date }}" />
	<meta name="twitter:description" content="{{ post.text|remove_newlines|truncatechars:200 }}" />

	{% if post.location_lat and post.location_lon and post.location_verbose %}
		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=true"></script>

		<style>
			#map-canvas {
				z-index: 0;
				height: 200px;
				width: 100%;
				margin-top: 10px;
			}
		</style>

		<script>
			$(document).ready(function() {
				var pos = new google.maps.LatLng({{ post.location_lat }}, {{ post.location_lon }});
				var map_options = {
					zoom: 12,
					center: pos,
					mapTypeId: google.maps.MapTypeId.ROADMAP,
					streetViewControl: false,
					mapTypeControl: false
				}

				map = new google.maps.Map($("#map-canvas").get(0), map_options);
				new google.maps.Marker({position: pos, map: map});
			});
			</script>
	{% endif %}
{% endblock %}

{%block content %}
	<aside>

		<div class='label first'><i class='icon-calendar'></i>{% trans "Date" %}</div>
		<time pubdate datetime="{{ post.date|date:"Y-m-d" }}">{{ post.date }}</time>

		{% if user.is_authenticated and user == post.author %}
			<div class='label first'><i class='icon-thumbs-up'></i>{% trans "Mood" %}</div>
			{{ post.mood }} / 10
		{% endif %}

		{% if user.is_authenticated and user == post.author %}
			<div class='label first'><i class='icon-shield'></i>{% trans "Privacy" %}</div>
			{% trans "This post is" %} {% if post.public %}{% trans "public" %}{% else %}{% trans "private" %}{% endif %}.
		{% endif %}

		<div class='label first'><i class='icon-flag'></i>{% trans "Language" %}</div>
		{{ language }}

		<div class='label first'><i class='icon-upload'></i>{% trans "Created" %}</div>
		{{ post.created_at }}

		<div class='label first'><i class='icon-link'></i>{% trans "Link" %}</div>
		<a href='{% url "diary.views.show_post" post.id %}'>{% trans "Permalink" %}</a>

		{% if post.location_lat and post.location_lon and post.location_verbose %}
			<div class='label'><i class='icon-location-arrow'></i>{% trans "Location" %}: {{ post.location_verbose }}</div>
			<div id="map-canvas"><i class='icon-spinner icon-spin'></i> {% trans "Loading map…" %}</div>
		{% endif %}
	</aside>
	
	{% if user.is_authenticated and user == post.author %}
		<article>{{ post.text|urlize|linebreaks }}</article>
	{% else %}
		<article>{{ post.get_public_text|urlize|linebreaks }}</article>
	{% endif %}

	{% if post.image %}
		<a href="{{ MEDIA_URL }}{{ post.image }}" target="_blank"><img itemprop="image" class="post-image" src="{{ MEDIA_URL }}{{ post.image }}" /></a>
	{% endif %}

	{% if user.is_authenticated and user == post.author and post.is_editable %}
		 <a href='{% url "diary.views.edit_post" post.id %}'><i class='icon-edit'></i> {% trans 'Edit' %}</a>
	{% endif %}

	<br class='clear' />
{% endblock %}