{% extends 'base.html' %}
{% load i18n %}

{%block content %}
	<form action='' method='POST' enctype='multipart/form-data'>
		{% csrf_token %}
		<input type='text' name='username' maxlength='100' placeholder='username' />
		<input type='email' name='email' maxlength='100' placeholder='email' />
		<input type='password' name='password' maxlength='100' placeholder='password' />
		<label for='public_check'>Public account?</label> <small>(If your account is public, your posts may be displayed <i>anonymously</i> on the front page).</small><input type='checkbox' id='public_check' name='public' />

		<input type='text' name='invite_code' maxlength='100' placeholder='invite code' />
		<input type='submit' value='{% trans "submit" %}' />
	</form>
{% endblock %}