{% extends 'base.html' %}
{% load i18n %} 
{% load l10n %} 
{% load humanize %}
{% load staticfiles %}
{% load timetags %}

{% block headeradd %}
	<!--[if lte IE 8]>
		<script language="javascript" type="text/javascript" src="{% static "js/excanvas.min.js" %}"></script>
	<![endif]-->

	<script language="javascript" type="text/javascript" src="{% static "js/jquery.flot.min.js" %}"></script>
	<script language="javascript" type="text/javascript" src="{% static "js/jquery.flot.time.min.js" %}"></script>
	<script language="javascript" type="text/javascript" src="{% static "js/jquery.flot.resize.min.js" %}"></script>
	<script language="javascript" type="text/javascript" src="{% static "js/jquery.flot.rangeselection.js" %}"></script>

	<script type="text/javascript">

	$(function() {

		var mood = [
			{% for post in posts %}
				[{{ post.date|epoch }}, {{ post.mood }}] {% if not forloop.last %},{% endif %}
			{% endfor %}
		];

		var length = [
			{% for post in posts %}
				[{{ post.date|epoch }}, {{ post.text|length }}] {% if not forloop.last %},{% endif %}
			{% endfor %}
		];

		var length_options = {
			legend: { show: false },
			series: {
				lines: { show: false, shadowSize: 1 },
				points: { show: false },
				bars: { show: true },
			},

			yaxis: { ticks: 3, max: 350 },
			xaxis: { mode: "time", timeformat: "%d.%m.%y"},
			selection: { mode: "x" }
		};

		var mood_options = {
			legend: { show: false },
			series: {
				lines: { show: true, shadowSize: 1 },
				points: { show: false }
			},
			yaxis: { ticks: 5, max: 10, min: 1 },
			xaxis: { mode: "time", timeformat: "%d.%m.%y"},
			selection: { mode: "x" }
		};

		$("#post-length-placeholder").html('');
		$.plot("#post-length-placeholder", [length], length_options);

		$("#post-mood-placeholder").html('');
		$.plot("#post-mood-placeholder", [mood], mood_options);
	});

	</script>
{% endblock %}

{%block content %}
	<p><a href='{%url "diary.views.leaderboard" %}'>Leaderboard</a></p>

	<h2>Post length over time</h2>
	<div id='post-length-placeholder' style='height: 200px'><i class='icon-spinner icon-spin'></i> Loading, please wait…</div>

	<h2>Mood over time</h2>
	<div id='post-mood-placeholder' style='height: 200px'><i class='icon-spinner icon-spin'></i> Loading, please wait…</div>
{% endblock %}