{% extends 'base.html' %}
{% load i18n %}
{% load l10n %}
{% load humanize %}
{% load staticfiles %}
{% load timetags %}

{% block headeradd %}
	<!--[if lte IE 8]>
		<script language="javascript" type="text/javascript" src="{% static "js/excanvas.min.js" %}"></script>
	<![endif]-->

	<script language="javascript" type="text/javascript" src="{% static "js/jquery.flot.min.js" %}"></script>
	<script language="javascript" type="text/javascript" src="{% static "js/jquery.flot.time.min.js" %}"></script>
	<script language="javascript" type="text/javascript" src="{% static "js/jquery.flot.resize.min.js" %}"></script>
	<script language="javascript" type="text/javascript" src="{% static "js/jquery.flot.rangeselection.js" %}"></script>

	<script type="text/javascript">

	$(function() {

		var mood = [
			{% for post in posts %}
				[{{ post.date|epoch }}, {{ post.mood }}] {% if not forloop.last %},{% endif %}
			{% endfor %}
		];

		var length = [
			{% for post in posts %}
				[{{ post.date|epoch }}, {{ post.text|length }}] {% if not forloop.last %},{% endif %}
			{% endfor %}
		];

		var length_options = {
			legend: { show: false },
			series: {
				lines: { show: false, shadowSize: 1 },
				points: { show: false },
				bars: { show: true },
			},

			yaxis: { ticks: 3, max: 350 },
			xaxis: { mode: "time", timeformat: "%d.%m.%y"},
			selection: { mode: "x" }
		};

		var mood_options = {
			legend: { show: false },
			series: {
				lines: { show: true, shadowSize: 1 },
				points: { show: false }
			},
			yaxis: { ticks: 5, max: 10, min: 1 },
			xaxis: { mode: "time", timeformat: "%d.%m.%y"},
			selection: { mode: "x" }
		};

		$("#post-length-placeholder").html('');
		$.plot("#post-length-placeholder", [length], length_options);

		$("#post-mood-placeholder").html('');
		$.plot("#post-mood-placeholder", [mood], mood_options);
	});

	</script>

	{% if user.geolocation_enabled %}
		<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
		<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />
		<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
		<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
		<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />

		<script type="text/javascript">
			$(document).ready(function() {
				L.mapbox.accessToken = 'pk.eyJ1IjoibHV0b21hIiwiYSI6ImVkbzF4MG8ifQ.pIpC2pu9savl1ZZLl8TGrA';
				var map = L.mapbox.map('map-canvas', 'lutoma.m1iha18e');

				var geojson = {
					type: 'FeatureCollection',
					features: [

						{% for post in posts %}
							{% if post.location_lat and post.location_lon %}
								{
									type: 'Feature',
									geometry: {
										type: 'Point',
										coordinates: [{{ post.location_lon}}, {{ post.location_lat}}]
									},

									properties: {url: '/posts/{{ post.id }}/'}
								},
							{% endif %}
						{% endfor %}
					]
				}

				var layer = L.mapbox.featureLayer().setGeoJSON(geojson);
				layer.on('click', function(e) {
					window.location.href = e.layer.feature.properties.url;
				});

				map.fitBounds(layer.getBounds());

				var clusterGroup = new L.MarkerClusterGroup();
				clusterGroup.addLayer(layer);
				map.addLayer(clusterGroup);
			});
		</script>
	{% endif %}
{% endblock %}

{%block content %}
	<div id='activity-calendar' class='border'>
		<div class='activity-infobox'>
			<span class='factoid'>{% if user.get_streak %}{{ user.get_streak|intcomma }}{% else %}0{% endif %}</span>

			{% trans 'day posting streak' %}
		</div>

		<div class='activity-infobox'>
			<span class='factoid'>{{ user.get_posts|length|intcomma }}</span>

			{% trans 'total posts' %}
		</div>

		<div class='activity-infobox last'>
			<span class='factoid'>{{ user.get_post_characters|intcomma }}</span>

			{% trans 'total characters in posts' %}
		</div>

		<hr class='clear'>

		{% for day in user.get_year_history %}
			<div class='activity-calendar-day' style="background-color: {% if day %}{{ day.get_activity_color }}{% else %}#eee{% endif %}">
				&nbsp;
			</div>
		{% endfor %}

		<br class='clear' />
	</div>

	{% if user.geolocation_enabled %}
		<div style="width: 100%; padding: 0; margin: 0; min-height: 400px;">
			<div style='padding-right: 20px'>
				<h2>{% trans "Locations" %}</h2>

				<div id='map-canvas' style='height: 350px;'><i class='icon-spinner icon-spin'></i> {% trans "Loading, please wait…" %}</div>
			</div>
		</div>

		<div style='width: 50%; float: left; padding: 0; margin: 0; min-height: 400px;'>
			<div style='padding-right: 20px'>
				<h3>{% trans "Your most popular locations" %}</h3>
				<table class="border alternate">
					<tbody>
						{% for location in top_locations %}
								<tr>
									<td style='width: 25px;'>
										#{{ forloop.counter }}
									</td>
									<td>
										{{ location.location_verbose }}
									</td>
									<td style='width: 170px;'>
										{{ location.location_count }} {% trans "posts" %}
									</td>
								</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	{% endif %}

	<div style='width: 50%; float: left; padding: 0; margin: 0;'>
		<div style='padding-right: 20px'>
			<h3>{% trans "Most frequently mentioned" %}</h3>
			<table class="border alternate">
				<tbody>
					{% for name in top_mentions %}
							<tr>
								<td style='width: 25px;'>
									#{{ forloop.counter }}
								</td>
								<td>
									<a href='{% url 'diary:search' %}?q=@{{ name.0|urlencode }}'>{{ name.0 }}</a>
								</td>
								<td style='width: 170px;'>
									{{ name.1 }} {% trans "mentions" %}
								</td>
							</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	<br class='clear' />

	<div style='width: 50%; float: left; padding: 0; margin: 0; min-height: 400px;'>
		<div style='padding-right: 20px'>
			<h3>{% trans "Top locations by mood" %}</h3>
			<table class="border alternate">
				<tbody>
					{% for location in top_mood_locations %}
							<tr>
								<td style='width: 25px;'>
									#{{ forloop.counter }}
								</td>
								<td>
									{{ location.location_verbose }}
								</td>
								<td style='width: 170px;'>
									{{ location.mood_avg|floatformat:2 }} {% trans "avg. mood" %}
								</td>
							</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	<br class='clear' />

	<h2>Over time</h2>
	<h3>{% trans "Post length over time" %}</h3>
	<div id='post-length-placeholder' style='height: 200px'><i class='icon-spinner icon-spin'></i> {% trans "Loading, please wait…" %}</div>

	<h3>{% trans "Mood over time" %}</h3>
	<div id='post-mood-placeholder' style='height: 200px'><i class='icon-spinner icon-spin'></i> {% trans "Loading, please wait…" %}</div>
{% endblock %}
