{% extends 'base.html' %}
{% load i18n %} 
{% load staticfiles %}

{% block headeradd %}
	<style>
		.popup {
			position: absolute;
			top: 200px;
			left: 50%;
			margin-left: -315px;
			background-color: #fff;
			width: 600px;
			height: 280px;
			border-radius: 2px;
			padding: 5px 30px;
			-moz-box-shadow: 0 0 1px #888;
			-webkit-box-shadow: 0 0 1px#888;
			box-shadow: 0 0 1px #888;
		}
	</style>
{% endblock %}

{%block content %}
	<p><a href='{%url "diary.views.leaderboard" %}'>Leaderboard</a></p>

	<div class='popup'>
		<h2>Those stats are so new, we're still playing with the bubble wrap.</h2>

		<p>We'd love to show you some stats here. Unfortunately, you don't have any posts yet, so we can't!</p>
		<p><a href='{% url "diary.views.edit_post" %}'>Why not add one?</a></p>
	</div>

	<img style='margin-top: 40px; z-index: -1;' src='/static/img/stats-blurred.png' />
{% endblock %}