{% extends 'base.html' %}
{% load i18n %}
{% load l10n %}
{% load humanize %}
{% load static %}
{% load gravatar %}

{% block headeradd %}
	<script src='{% static "js/handlebars-v1.3.0.js" %}'></script>
	<script src='{% static "js/waypoints.min.js" %}'></script>
	<script src='{% static "js/isonscreen.js" %}'></script>
	<script src="{% static "js/timeline.js" %}"></script>

	<link href="{% static "css/timeline.css" %}" rel="stylesheet" />
{% endblock %}

{%block content %}
	<div id='timeline-stage'>
		<div style='text-align: center; margin-top: 100px'>
			<i style='font-size: 40px; ' class='icon-spinner icon-spin'></i>
			<h1 style='font-size: 35px;'>{% trans 'Loading, please stand by...' %}</h1>
		</div>
	</div>

	<br class='clear' />

	<script id="timeline-main" type="text/x-handlebars-template">
		<aside id='timeline-aside'>
			{% gravatar user.email 45 %}
			<h2 id='greeting'>Hi {{ request.user }}!</h2>
			<p id='greeting-2'>Here's how you're doing:</p>


			<h3>
				<span class='metric'>{% if user.get_streak %}{{ user.get_streak|intcomma }}{% else %}0{% endif %}</span>
				day streak</h3>

			<hr />

			<h3>
				<span class='metric'>{{ user.posts.count|intcomma }}</span>
				total posts</h3>

			<hr />

			<div class='aside-keepvisible'>
				<ul id='timeline-datepicker'>
					{% comment %}<!--
						Timeline datepicker template gets inserted here.
						(See template below).
					-->{% endcomment %}
				</ul>

				<input id='timeline-filter' type='text' placeholder='Filter posts' />

				{% verbatim %}
					<ul id='timeline-optionfilter'>
						{{#each filters}}
							<li>
								<input type='checkbox' name='{{ this.[0] }}' id='{{ this.[0] }}' />
								<label for='{{ this.[0] }}'>{{ this.[1] }}</label>
							</li>
						{{/each}}
					</ul>
				{% endverbatim %}
			</div>
		</aside>

		{% verbatim %}
			<div id='timeline-filter-noposts'>
				<h1>Looks like it's just us here</h1>
				<h2>I couldn't find any posts matching your filters</h2>
			</div>

			{{#each timegroups}}
				<div class='timegroup' id='timegroup-{{this.year}}' data-year='{{this.year}}'>
					<h1 class='timeline-year'>{{ this.year }}</h1>
					{{#each this.posts}}
						<h2 class='timeline-month' id='timegroup-m-{{this.year}}-{{this.month}}'>{{ this.month_name }} <span>{{ this.year }}</span></h2>
						<div class='timeline'>
							{{#each this.posts}}
								<div class='timeline-box {{#if this.image}}clearfix{{/if}}' data-post-id='{{ this.id }}'>
									<time datetime='{{ this.date }}' class='timeline-post-date'>
										<span class='date-num'>{{ this.day }}</span>

										<span class='date-dow'>{{ this.dow }}</span>
									</time>

									<div class='timeline-details'>
										{{#if this.public }}
											<i class="icon-unlock timeline-privacy-icon"></i>
										{{else}}
											<i class="icon-lock timeline-privacy-icon"></i>
										{{/if}}

										<span class='timeline-post-inline-date'>
											<a href='/posts/{{ this.id }}/'>{{ this.month_name }} {{ this.year }}</a>
										</span>

										<span class='timeline-post-location'>
											<i class="icon-location-arrow"></i>
											{{ this.location_verbose }}
										</span>

										{{#if this.editable}}
											<span style='float: right;'>
												<a href='/posts/{{ this.id }}/edit/'><i class="icon-pencil"></i></a>
											</span>
										{{/if}}
									</div>

									{{# if this.image }}
										<a href='{{ this.image }}' target='_blank'>
											<img class='timeline-post-image' src='{{ this.image }}' />
										</a>
									{{/if}}

									<p>{{{ this.text }}}</p>
								</div>
							{{/each}}
						</div>
					{{/each}}
				</div>
			{{/each}}
		{% endverbatim %}
	</script>

	<script id="timeline-datepicker-template" type="text/x-handlebars-template">
		{% verbatim %}
			{{#each timegroups}}
				<li {{#if @first}}class='active'{{/if}} data-year='{{this.year}}'><a href='#' data-scrollto='{{this.year}}'>{{this.year}}</a></li>
			{{/each}}
		{% endverbatim %}
	</script>

	<script id="timeline-noposts" type="text/x-handlebars-template">
		<h1>Nothing to see here!</h1>
		<h2>You don't have any posts right now. <a href='/posts/new/'>Add one?</a></h2>

		<p>Normally, we'd show you an awesome timeline of your posts here. However, since you don't have any, we can't. Why not <a href='/posts/new/'>create your first post?</a></p>
	</script>
{% endblock %}
