{% extends 'base.html' %}
{% load i18n %}
{% load l10n %}
{% load humanize %}
{% load static %}
{% load timetags %}

{%block content %}
	<div style='width: 50%; float: left; padding: 0; margin: 0;'>
		<div style='padding-right: 20px'>
			<h3>{% trans "Number of posts" %}</h3>
			<table class="border alternate">
				<tbody>
					{% for entry in leaderboard.number_of_posts %}
							<tr>
								<td style='width: 25px;'>
									#{{ forloop.counter }}
								</td>
								<td>
									{{ entry.username }}
								</td>
								<td style='width: 170px;'>
									{{ entry.num_posts }} {% trans "posts" %}
								</td>
							</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div style="width: 50%; padding: 0; margin: 0; float: right;">
		<div style='padding-left: 20px'>
			<h3>{% trans "Longest streak" %}</h3>
			<table class="border alternate">
				<tbody>
					{% for entry in leaderboard.longest_current_streak %}
							<tr>
								<td style='width: 25px;'>
									#{{ forloop.counter }}
								</td>
								<td>
									{{ entry.username }}
								</td>
								<td style='width: 170px;'>
									{{ entry.streak }} {% trans "days" %}
								</td>
							</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<br class='clear' />
	<div style="width: 50%; padding: 0; margin: 0; float: right;">
		<div style='padding-left: 20px'>
			<h3>{% trans "Average post length" %}</h3>
			<table class="border alternate">
				<tbody>
					{% for entry in leaderboard.average_post_length %}
							<tr>
								<td style='width: 25px;'>
									#{{ forloop.counter }}
								</td>
								<td>
									{{ entry.username }}
								</td>
								<td style='width: 170px;'>
									{{ entry.avg_length }} {% trans "characters" %}
								</td>
							</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<br class='clear' />
	<div style='width: 50%; float: left; padding: 0; margin: 0;'>
		<div style='padding-right: 20px'>
			<h3>{% trans "Popular languages" %}</h3>
			<table class="border alternate">
				<tbody>
					{% for language in leaderboard.popular_languages %}
							<tr>
								<td style='width: 25px;'>
									#{{ forloop.counter }}
								</td>
								<td>
									{{ language.natural_language }}
								</td>
								<td style='width: 170px;'>
									{{ language.count }} {% trans "posts" %}
								</td>
							</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div style="width: 50%; padding: 0; margin: 0; float: right;">
		<div style='padding-left: 20px'>
			<h3>{% trans "Popular locations" %}</h3>
			<table class="border alternate">
				<tbody>
					{% for location in leaderboard.popular_locations %}
							<tr>
								<td style='width: 25px;'>
									#{{ forloop.counter }}
								</td>
								<td>
									{{ location.location_verbose }}
								</td>
								<td style='width: 170px;'>
									{{ location.count }} {% trans "posts" %}
								</td>
							</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	<br class='clear' />

	<p><small>{% trans "This page is regenerated every 5 minutes. Last update " %} {{ leaderboard.last_update|naturaltime }}.</small></p>
{% endblock %}
