{% extends "base.html" %}
{% load i18n %} 

{% block content %}
	{% if next %}You need to log in to access that page.{% endif %}


	{% if form.errors %}
		<p>{% trans "Your username and password didn't match. Please try again." %}</p>
	{% endif %}

	<form method="post" action="">
		{% csrf_token %}

		<input id="id_username" type="text" name="username" maxlength="30" placeholder="{{ form.username.label }}" value="{% if form.username.value %}{{ form.username.value }}{% endif %}" />
		<input type="password" name="password" id="id_password" placeholder="{{ form.password.label }}" />

		<input type="submit" value="{% trans 'Log in' %}" />
		{% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
	</form>

	<p><a href='{% url "django.contrib.auth.views.password_reset" %}'>Forgot password?</a></p>
{% endblock %}
